@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  align-items: center;
}

header {
  font-size: 2.8em;
  padding: 10px;
}

#calculator {
  width: 70vw;
  max-width: 300px;
  border: 1px solid grey;
  border-right: 2px solid darkgrey;
  border-bottom: 2px solid darkgrey;
  padding: 16px 8px 6px 10px;
  background-color: lightgrey;
  border-radius: 15px 15px 5px 10px;
}

.button {
  border: 1px solid darkslateblue;
  background-color: #e0ccff;
  font-size: 1.8em;
  padding: 2px;
  border-radius: 2px;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 3px;
}

#equals {
  grid-column: 4;
  grid-row: 2 / 6;
  background-color: aquamarine;
  border-color: mediumaquamarine;
}

#display {
  border: 1px solid grey;
  text-align: right;
  font-size: 2.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 3px;
  background-color: white;
  margin-left: -2px;
  overflow-x: hidden;
}

.operand {
  background: whitesmoke;
  border-color: grey;
}

body {
  background-color: ghostwhite;
}